<tr class="{CSS_ROW}">
	<td class="std" style="vertical-align: top">
		<input type="checkbox" name="file[]" value="{CB_FILE}" id="cb_{CB_ID}" {VAL_CHECKED} />
	</td>
	<td class="std xmg_arch_filename" style="vertical-align: top"><label for="cb_{CB_ID}">{FILENAME}</label></div></td>
	<td class="std xmg_arch_size" style="vertical-align: top">{SIZE}</td>
	<td class="std xmg_custom" style="vertical-align: top"><input type="checkbox" name="download[{FILENAME}]" value="1" {CHECKED_DOWNLOAD} /></td>
	<td class="std xmg_arch_created" style="vertical-align: top">{CREATED}</td>
</tr>